{{> header}}
<section class="hero">
    <div class="container hero-content">
        <h1>Bloom: Let your beauty grow</h1>
        <p>The best cosmetics from around the world for your unique look. Only original brands and premium
            quality.</p>
        <a href="/products" class="btn btn-primary">Перейти до каталогу</a>
    </div>
</section>


{{> footer}}